*.csv filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Flask-2.0.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
*.rst filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Flask-2.0.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Flask-2.0.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Flask-2.0.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Jinja2-3.1.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Jinja2-3.1.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Jinja2-3.1.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Jinja2-3.1.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/MarkupSafe-2.1.5.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/MarkupSafe-2.1.5.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/MarkupSafe-2.1.5.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/MarkupSafe-2.1.5.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.py filter=lfs diff=lfs merge=lfs -text
*.pyc filter=lfs diff=lfs merge=lfs -text
*.pyd filter=lfs diff=lfs merge=lfs -text
*.pyi filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/PyYAML-6.0.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/PyYAML-6.0.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/PyYAML-6.0.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/PyYAML-6.0.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/PyYAML-6.0.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Werkzeug-2.2.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Werkzeug-2.2.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Werkzeug-2.2.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/Werkzeug-2.2.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/beautifulsoup4-4.12.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/beautifulsoup4-4.12.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/beautifulsoup4-4.12.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/beautifulsoup4-4.12.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/beautifulsoup4-4.12.3.dist-info/licenses/AUTHORS filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/beautifulsoup4-4.12.3.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
*.testcase filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/certifi-2024.2.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/certifi-2024.2.2.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/certifi-2024.2.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/certifi-2024.2.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/certifi-2024.2.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.pem filter=lfs diff=lfs merge=lfs -text
*.typed filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/charset_normalizer-3.3.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/click-8.1.7.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/click-8.1.7.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/click-8.1.7.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/click-8.1.7.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/colorama-0.4.6.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/colorama-0.4.6.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/colorama-0.4.6.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/colorama-0.4.6.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/cssselect-1.2.0.dist-info/AUTHORS filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/cssselect-1.2.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/cssselect-1.2.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/cssselect-1.2.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/cssselect-1.2.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/cssselect-1.2.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/feedfinder2-0.0.4-py3.8.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/feedparser-6.0.11.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/feedparser-6.0.11.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/feedparser-6.0.11.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/feedparser-6.0.11.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/feedparser-6.0.11.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/filelock-3.13.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/filelock-3.13.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/filelock-3.13.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/filelock-3.13.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/filelock-3.13.1.dist-info/licenses/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/huggingface_hub-0.0.8.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/huggingface_hub-0.0.8.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/huggingface_hub-0.0.8.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/huggingface_hub-0.0.8.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/huggingface_hub-0.0.8.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/idna-3.6.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/idna-3.6.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/idna-3.6.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/idna-3.6.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/itsdangerous-2.1.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/itsdangerous-2.1.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/itsdangerous-2.1.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/itsdangerous-2.1.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.p filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/jieba3k-0.35.1-py3.8.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/joblib-1.3.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/joblib-1.3.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/joblib-1.3.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/joblib-1.3.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.gzip filter=lfs diff=lfs merge=lfs -text
*.lzma filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.z filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/lxml-5.1.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/lxml-5.1.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/lxml-5.1.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/lxml-5.1.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.pxi filter=lfs diff=lfs merge=lfs -text
*.h filter=lfs diff=lfs merge=lfs -text
*.pyx filter=lfs diff=lfs merge=lfs -text
*.pxd filter=lfs diff=lfs merge=lfs -text
*.rng filter=lfs diff=lfs merge=lfs -text
*.xsl filter=lfs diff=lfs merge=lfs -text
*.c filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/newspaper3k-0.2.8.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/newspaper3k-0.2.8.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/newspaper3k-0.2.8.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/newspaper3k-0.2.8.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/nltk-3.8.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/nltk-3.8.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/nltk-3.8.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/nltk-3.8.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/nltk/VERSION filter=lfs diff=lfs merge=lfs -text
*.doctest filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/numpy-1.24.4.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/numpy-1.24.4.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/numpy-1.24.4.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/numpy-1.24.4.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.doxyfile filter=lfs diff=lfs merge=lfs -text
*.ini filter=lfs diff=lfs merge=lfs -text
*.lib filter=lfs diff=lfs merge=lfs -text
*.cpp filter=lfs diff=lfs merge=lfs -text
*.fits filter=lfs diff=lfs merge=lfs -text
*.f90 filter=lfs diff=lfs merge=lfs -text
*.f2py_f2cmap filter=lfs diff=lfs merge=lfs -text
*.f filter=lfs diff=lfs merge=lfs -text
*.mod filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/packaging-24.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/packaging-24.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
*.APACHE filter=lfs diff=lfs merge=lfs -text
*.BSD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/packaging-24.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/packaging-24.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/packaging-24.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/pillow-10.2.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/pillow-10.2.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/pillow-10.2.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/pillow-10.2.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/pillow-10.2.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/pillow-10.2.0.dist-info/zip-safe filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/pip-19.2.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/pip-19.2.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/pip-19.2.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/pip-19.2.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/python_dateutil-2.9.0.post0.dist-info/zip-safe filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/regex-2023.12.25.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/regex-2023.12.25.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/regex-2023.12.25.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/regex-2023.12.25.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/requests-2.31.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/requests-2.31.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/requests-2.31.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/requests-2.31.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/requests-2.31.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/requests_file-2.0.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/requests_file-2.0.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/requests_file-2.0.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/requests_file-2.0.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/requests_file-2.0.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/sacremoses-0.1.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/sacremoses-0.1.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/sacremoses-0.1.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/sacremoses-0.1.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/sacremoses-0.1.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.as filter=lfs diff=lfs merge=lfs -text
*.bn filter=lfs diff=lfs merge=lfs -text
*.ca filter=lfs diff=lfs merge=lfs -text
*.cs filter=lfs diff=lfs merge=lfs -text
*.de filter=lfs diff=lfs merge=lfs -text
*.el filter=lfs diff=lfs merge=lfs -text
*.en filter=lfs diff=lfs merge=lfs -text
*.es filter=lfs diff=lfs merge=lfs -text
*.et filter=lfs diff=lfs merge=lfs -text
*.fi filter=lfs diff=lfs merge=lfs -text
*.fr filter=lfs diff=lfs merge=lfs -text
*.ga filter=lfs diff=lfs merge=lfs -text
*.gu filter=lfs diff=lfs merge=lfs -text
*.hi filter=lfs diff=lfs merge=lfs -text
*.hu filter=lfs diff=lfs merge=lfs -text
*.is filter=lfs diff=lfs merge=lfs -text
*.it filter=lfs diff=lfs merge=lfs -text
*.kn filter=lfs diff=lfs merge=lfs -text
*.lt filter=lfs diff=lfs merge=lfs -text
*.lv filter=lfs diff=lfs merge=lfs -text
*.ml filter=lfs diff=lfs merge=lfs -text
*.mni filter=lfs diff=lfs merge=lfs -text
*.mr filter=lfs diff=lfs merge=lfs -text
*.nl filter=lfs diff=lfs merge=lfs -text
*.or filter=lfs diff=lfs merge=lfs -text
*.pa filter=lfs diff=lfs merge=lfs -text
*.pl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.ro filter=lfs diff=lfs merge=lfs -text
*.ru filter=lfs diff=lfs merge=lfs -text
*.sk filter=lfs diff=lfs merge=lfs -text
*.sl filter=lfs diff=lfs merge=lfs -text
*.sv filter=lfs diff=lfs merge=lfs -text
*.ta filter=lfs diff=lfs merge=lfs -text
*.tdt filter=lfs diff=lfs merge=lfs -text
*.te filter=lfs diff=lfs merge=lfs -text
*.yue filter=lfs diff=lfs merge=lfs -text
*.zh filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/setuptools-41.2.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/setuptools-41.2.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/setuptools-41.2.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/setuptools-41.2.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/setuptools-41.2.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/setuptools-41.2.0.dist-info/zip-safe filter=lfs diff=lfs merge=lfs -text
*.xml filter=lfs diff=lfs merge=lfs -text
*.tmpl filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/sgmllib3k-1.0.0-py3.8.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/six-1.16.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/six-1.16.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/six-1.16.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/six-1.16.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/six-1.16.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/soupsieve-2.5.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/soupsieve-2.5.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/soupsieve-2.5.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/soupsieve-2.5.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tinysegmenter-0.3-py3.8.egg-info/PKG-INFO filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tldextract-5.1.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tldextract-5.1.2.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tldextract-5.1.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tldextract-5.1.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tldextract-5.1.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.tld_set_snapshot filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tokenizers-0.10.3.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tokenizers-0.10.3.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tokenizers-0.10.3.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tokenizers-0.10.3.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.css filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/torch-1.8.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/torch-1.8.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/torch-1.8.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/torch-1.8.1.dist-info/NOTICE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/torch-1.8.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/torch-1.8.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.cuh filter=lfs diff=lfs merge=lfs -text
*.hpp filter=lfs diff=lfs merge=lfs -text
*.cmake filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tqdm-4.66.2.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tqdm-4.66.2.dist-info/LICENCE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tqdm-4.66.2.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tqdm-4.66.2.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/tqdm-4.66.2.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.sh filter=lfs diff=lfs merge=lfs -text
*.1 filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/transformers-4.6.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/transformers-4.6.1.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/transformers-4.6.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/transformers-4.6.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/transformers-4.6.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/typing_extensions-4.10.0.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/typing_extensions-4.10.0.dist-info/LICENSE filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/typing_extensions-4.10.0.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/typing_extensions-4.10.0.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/typing_extensions-4.10.0.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/urllib3-2.2.1.dist-info/INSTALLER filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/urllib3-2.2.1.dist-info/METADATA filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/urllib3-2.2.1.dist-info/RECORD filter=lfs diff=lfs merge=lfs -text
/myenv/Lib/site-packages/urllib3-2.2.1.dist-info/WHEEL filter=lfs diff=lfs merge=lfs -text
*.js filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.ps1 filter=lfs diff=lfs merge=lfs -text
/myenv/Scripts/activate filter=lfs diff=lfs merge=lfs -text
*.bat filter=lfs diff=lfs merge=lfs -text
*.ipynb filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
